/* GLOBAL MODIFIER */
* {
    font-family: sans-serif ;
    border: 1px solid red;
}
body {
    margin: 0 2rem;
}

/* MAIN SECTION */
.flex-container {
    display: flex;
    height: 40rem;
}

.flex-container div {
    flex: 1;
}

.flex-container .one {
    display: flex;
    flex-direction: column;
    align-self: center;
}
.flex-container h3,h1,h4{
    margin: 0;
}
.flex-container button {
    padding: 1rem;
}

/* FOOTER SECTION */